In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("Gandum.csv")
data.columns = ["id", "Daerah", "SumbuUtama", "SumbuKecil", "Keunikan", "AreaBulatan", "Diameter", "KadarAir", "Keliling", "Bulatan", "Ransum", "Kelas"]

In [10]:
data.describe()

,1,5781,128.2888753,58.47084588,0.890095088,5954,85.79392641,0.674090485,316.756,0.724040956,2.194065664,1.1
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,251.000000,4799.282565,116.020635,53.705716,0.878741,4935.010020,77.755080,0.648320,281.409028,0.761813,2.150829,1.503006
std,144.193157,986.406825,18.292730,4.069573,0.036619,1011.683617,8.056920,0.094455,37.339355,0.061741,0.250010,0.500493
min,2.000000,2522.000000,74.133114,39.906517,0.719916,2579.000000,56.666658,0.409927,197.015000,0.174590,1.440796,1.000000
25%,126.500000,4042.500000,104.063393,51.192400,0.863673,4166.500000,71.743089,0.572602,255.854000,0.732088,1.983917,1.000000
50%,251.000000,4733.000000,115.396744,53.727453,0.889996,4855.000000,77.628878,0.625731,279.955000,0.761403,2.193132,2.000000
75%,375.500000,5492.500000,129.055961,56.309070,0.907613,5650.000000,83.625761,0.726830,305.786500,0.796387,2.382048,2.000000
max,500.000000,7453.000000,227.928583,68.977700,0.914001,7720.000000,97.413830,0.878899,488.837000,0.904748,2.464809,2.000000